<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/site.css" rel="stylesheet">

    <script src="static/js/modernizr-2.8.3.js"></script>

    [% title = "Servers" %]

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MCMonitor</a>
        </div>
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/manage">Manage</a></li>
            <li><a href="/servers">Servers</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container body-content">

      <h2>[% title %]</h2>

      <table class="table">
        <tr>
          <th>
            Servername
          </th>
          <th>
            Hostname
          </th>
          <th>
            IP Address
          </th>
          <th>
            Port
          </th>
          <th>
            Maintenance Mode
          </th>
          <th>
            Action
          </th>
        </tr>
    
        [% FOREACH server IN serverlist %]
          <tr>
            <td>
              [% server.servername %]
            </td>
            <td>
              [% server.hostname %]
            </td>
            <td>
              [% server.ipaddress %]
            </td>
            <td>
              [% server.port %]
            </td>
            <td>
              [% IF server.maintenancemode == 1 %]
                Yes
              [% ELSE %]
                No
              [% END %]
            </td>
            <td>
              [% IF server.isup %]
                <a href="manage/stop/[% server.servername %]">Stop</a>
              [% ELSE %]
                <a href="manage/start/[% server.servername %]">Start</a>
              [% END %]
            </td>
          </tr>
        [% END %]
      </table>

      <hr />
      <span class="message">[% status_msg %]</span>
      <span class="error">[% error_msg %]</span>
      <hr />

      <footer>
        <p>&copy; 2021 - MCMonitor</p>
      </footer>

    </div>

    <script src="static/js/jquery-3.4.1.js"></script>
    <script src="static/js/bootstrap.js"></script>

  </body>
</html>
