<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/site.css" rel="stylesheet">

    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/modernizr-2.8.3.js"></script>
    <script src="/static/js/darktheme.js"></script>
    <script src="/static/js/getupdates.js"></script>

    [% title = "Monitoring Issues Detected" %]
  
    <audio id="sshfail"><source src="/static/sounds/catalystdown.wav" /></audio>

  </head>

  <body>

    <input type="text" id="handleupdates" value="[% handleupdates %]" hidden>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MCMonitor</a>
        </div>
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="manage">Manage</a></li>
            <li><a href="servers">Servers</a></li>
            <li><a>Dark Theme: <label class="switch"><input class="toggle-darktheme" id="toggle-darktheme" type="checkbox"><span
 class="slider round"></span></label></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container body-content">

      <h2>[% title %]</h2>
  
      <table class="table">
        <thead>
          <tr>
            <th>
              Issue
            </th>
            <th>
              LastChecked
            </th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                [% status.issue %]
              </td>
              <td>
                [% status.lastchecked %]
              </td>
            </tr>
        </tbody>
      </table>

      <hr />
      <span class="message">[% status_msg %]</span>
      <span class="error">[% error_msg %]</span>
      <hr />

      <footer>
        <p>&copy; 2021 - MCMonitor</p>
      </footer>
  
    </div>

    <script>
      handleServerUpdates( "deactivate" );
      const audioElement = document.getElementById( "sshfail" );
      if (audioElement) {
        audioElement.loop = true;
        audioElement.play();
      }
    </script>

  </body>
</html>
