<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/site.css" rel="stylesheet">

    <script src="../static/js/modernizr-2.8.3.js"></script>

    [% title = "Create Server" %]

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MCMonitor</a>
        </div>
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/monitor">Monitor</a></li>
            <li><a href="/servers">Servers</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container body-content">


      <h2>[% title %]</h2>
  
      <hr />

      <form action="/servers/create" method="post">

        <div class="form-group">
          <label class="control-label col-md-2" for="servername">Servername</label>
          <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-required="The servername is required" id="Servername" name="servername" type="text" value="" placeholder="Enter the name of this server" required />
            <span class="field-validation-valid text-danger" data-valmsg-for="servername" data-valmsg-replace="true"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="description">Description</label>
          <div class="col-md-10">
            <input class="form-control text-box single-line" id="description" name="description" type="text" value="" placeholder="Enter server description" />
            <span class="field-validation-valid text-danger" data-valmsg-for="description" data-valmsg-replace="true"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="enginetype">Engine Type</label>
          <div class="col-md-10">
            <input class="form-control text-box single-line" id="enginetype" name="enginetype" type="text" value="" placeholder="Enter core engine type" data-val="true" data-val-required="The server engine type is required" required />
            <span class="field-validation-valid text-danger" data-valmsg-for="enginetype" data-valmsg-replace="true"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="engineversion">Engine Version</label>
          <div class="col-md-10">
            <input class="form-control text-box single-line" id="engineversion" name="engineversion" type="text" value="" placeholder="Enter core engine version" />
            <span class="field-validation-valid text-danger" data-valmsg-for="engineversion" data-valmsg-replace="true"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="serverversion">Server Version</label>
          <div class="col-md-10">
            <input class="form-control text-box single-line" id="serverversion" name="serverversion" type="text" value="" placeholder="Enter server version" />
            <span class="field-validation-valid text-danger" data-valmsg-for="serverversion" data-valmsg-replace="true"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="hostname">Hostname</label>
          <div class="col-md-10">
            <input class="form-control text-box single-line" id="hostname" name="hostname" type="text" value="" placeholder="Enter server hostname" data-val="true" data-val-required="The host the server resides on is required" required />
            <span class="field-validation-valid text-danger" data-valmsg-for="hostname" data-valmsg-replace="true"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="ipaddress">IP Address</label>
          <div class="col-md-10">
            <input class="form-control text-box single-line" id="ipaddress" name="ipaddress" type="text" value="" placeholder="Enter IP Address" data-val="true" data-val-required="A valid V4 IP address is required" required />
            <span class="field-validation-valid text-danger" data-valmsg-for="ipaddress" data-valmsg-replace="true"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="port">Port</label>
          <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-number="The field Port must be a number" data-val-required="The Port field is required" id="port" name="port" type="number" value="" placeholder="Enter port number" required />
            <span class="field-validation-valid text-danger" data-valmsg-for="port" data-valmsg-replace="true"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2" for="maintenancemode">MaintenanceMode</label>
          <div class="col-md-10">
            <select class="form-control list-box tri-state" id="maintenancemode" name="maintenancemode"><option selected="selected" value="1">Yes</option>
              <option value="0">No</option>
            </select>
            <span class="field-validation-valid text-danger" data-valmsg-for="maintenancemode" data-valmsg-replace="true"></span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Create" class="btn btn-default" />
        </div>

      </form>
      <div>
        <a href="/servers">Back to server list</a>
      </div>

      <hr />
      <span class="message">[% status_msg %]</span>
      <span class="error">[% error_msg %]</span>
      <hr />

      <footer>
        <p>&copy; 2021 - MCMonitor</p>
    </div>

    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jquery.validate.js"></script>
    <script src="../static/js/jquery.validate.unobtrusive.js"></script>

  </body>
</html>
