<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../../static/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/css/site.css" rel="stylesheet">

    <script src="../../static/js/modernizr-2.8.3.js"></script>

    <script>
      function setType(type) {
        document.getElementById("submitType").value = type;
      }
    </script>

    [% title = "Delete Server" %]

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MCMonitor</a>
        </div>
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/manage">Manage</a></li>
            <li><a href="/servers">Servers</a></li>
            <li><a>Dark Theme: <label class="switch"><input class="toggle-darktheme" type="checkbox"><span class="slider round"></span></label></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container body-content">


      <h2>[% title %]</h2>
      <h4>Details for <span><b>[% server.servername %]</b></h4>
  
      <hr />

      <dl class="dl-horizontal">
        <dt>Servername</dt>
        <dd>[% server.servername %]</dd>
         
        <dt>Description</dt>
        <dd>[% server.description %]</dd>

        <dt>Engine Type</dt>
        <dd>[% server.enginetype %]</dd>

        <dt>Engine Version</dt>
        <dd>[% server.engineversion %]</dd>

        <dt>Server Version</dt>
        <dd>[% server.serverversion %]</dd>

        <dt>Hostname</dt>
        <dd>[% server.hostname %]</dd>

        <dt>IP Address</dt>
        <dd>[% server.ipaddress %]</dd>

        <dt>Port</dt>
        <dd>[% server.port %]</dd>
        
        <dt>RCON Port</dt>
        <dd>[% server.rconport %]</dd>

        <dt>RCON Password</dt>
        <dd>[% server.rconpassword %]</dd>        

        <dt>Maintenance Mode</dt>
        [% IF server.maintenancemode == 1 %]
          <dd>Yes</dd>
        [% ELSE %]
          <dd>No</dd>
        [% END %]
      </dl>

      Are you sure you want to delete this server?
      <form action="/servers/delete/[% server.servername %]" method="post">
        <div class="form-group">
          <input type="hidden" name="submitType">
          <input type="submit" value="Delete" class="btn btn-default consolebtn" onclick="setType('Delete')" />
          <a href="/servers" class="btn btn-default consolebtn">Cancel</a>
        </div>
      </form>


      <hr />
      <span class="message">[% status_msg %]</span>
      <span class="error">[% error_msg %]</span>
      <hr />

      <footer>
        <p>&copy; 2021 - MCMonitor</p>
    </div>

    <script src="../../static/js/jquery-3.4.1.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
    <script src="../../static/js/jquery.validate.js"></script>
    <script src="../../static/js/jquery.validate.unobtrusive.js"></script>
    <script src="../../static/js/darktheme.js"></script>

  </body>
</html>
